@charset "utf-8";

* {
  box-sizing: border-box;
}

body{
  margin:25px;
}
section::after {
  content: "";
  clear: both;
  display: table;
}
header{
  background:white;
  color:black;
  border-radius:5px;
}
h1{
  font-weight:bold;
  margin:0;
  margin-top:10px;
  font-size:2em;
  font-weight:bold;
  color:#48c268;
}
h1#main{
  margin:0;
  font-size:2.5em;
}
h2{
  color:#48c268;
}

aside{
  background:#f2f2f2;
  color:black;
  margin-bottom:10px;
  padding: 5px 8px;
  border: solid 1px lightgray;
}
h3#side-bar{
  color:#48c268;
}
footer{
  text-align:center;
  font-size:0.7em;
  border-radius:8px;
  line-height: 1.3;
}
nav{
  width:100%;
  display:block;
}
ul{
  list-style-type:none;
  margin:0;
  padding:0;
  list-style:none;
  display:flex;
  flex-wrap:wrap;
}
li{
  margin:5px;
  vertical-align: center;
}

a.button:link, a.button:visited {
  text-decoration: none;
  color:white;
  text-align:center;
  font-size:1.3em;

  background:#4f4f4f;
  margin-bottom:5px;
  display:inline-block;
  width:160px;
  height:30px;
  //width:100%;
  padding:2px;
}

a.button:hover, a.button:active {
  background:gray;
}

a#s3:link, a#s3:visited {
  color:white;
  font-weight: bold;
  background:#48c268;
}

a#s3:hover, a#s3:active {
  background:gray;
}

a:link, a:visited{
  color:black;
}
a:hover, a:active{
  color:#4da35f;

}
